<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanStride-AboutUs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
</head>
<body>
    <section class="header">
        <h2>UrbanStride.</h2>
        <div>
            <ul class="navbar">
                <form method="get" action="/home">
                    <li><button>Home</button></li>
                </form>
                <form method="post" action="/aboutus">
                    <li><button>About Us</button></li>
                </form>
                <form method="post" action="/contact">
                    <li><button>Contact</button></li>
                </form>
                <li><i class="fa-solid fa-cart-shopping"></i></li>
                <form method="post" action="/logout">
                    <li><button><i class="fa-solid fa-right-from-bracket"></i></button></li>
                </form>
            </ul>
        </div>
    </section>
    <div class="page1">
        <h1>Our Journey</h1>
        <div class="content">
            <p>Welcome to <span>UrbanStride</span> where every step is a story. Founded in 2024 by Pratyai Chakrabarty, our journey began with a simple yet powerful vision: to create shoes that blend comfort, style, and sustainability. Inspired by a lifelong passion for footwear and a desire to make a positive impact, our founders embarked on a mission to redefine the shoe industry.
            From our humble beginnings in a small workshop to becoming a trusted name in the world of fashion, we've always stayed true to our roots. Our dedication to quality craftsmanship and innovative design has been the cornerstone of our growth. Every pair of shoes we create is a testament to our unwavering commitment to excellence.
            <p>Join us as we continue to evolve, one step at a time. Whether you're hitting the streets, the trails, or the boardroom, we've got the perfect pair for you.</p>
        </div>
    </div>
    <div class="page2">
        <h1>What We Stand For</h1>
        <div class="content">
            <p>At <span>UrbanStride</span>, our values guide everything we do :</p>
            <ul>
                <li><span>Quality & Comfort:</span> We believe that style should never come at the expense of comfort. Every shoe is crafted with the finest materials to ensure a perfect fit.</li>
                <li><span>Sustainability:</span> Our planet is our home, and we're committed to protecting it. From eco-friendly materials to sustainable production practices, we're doing our part for a greener future.</li>
                <li><span>Customer-centric:</span> You are at the heart of our business. We listen to your feedback and strive to exceed your expectations at every step.</li>
            </ul>
        </div>
    </div>
    <div class="page3">
        <h1>What Our Customers Say</h1>
        <div class="content">
            <p>Don't just take our word for it - here's what our customers have to say :</p>
            <ul>
                <li>"Absolutely love my new shoes! They're stylish and incredibly comfortable." - Bruce Wellington</li>
                <li>"Great customer service and fast shipping. I'm a fan for life!" - Sushant Gupta</li>
                <li>"Eco-friendly and chic - the perfect combination!" - Shristi Deshmukh</li>
            </ul>
        </div>
    </div>
    <footer>
        <h3>@Copyright2024 | UrbanStride</h3>
    </footer>
</body>
</html>