<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanStride</title>
    <link rel="stylesheet" href="/stylesheets/lander.css">
</head>

<body>
    <div class="page">
        <div class="part1">
            <h2>UrbanStride.</h2>
            <div class="content">
                <h1>Boost Your Speed</h1>
                <p>Step into a world where style meets comfort and innovation dances with tradition. Welcome to our shoe
                    wonderland, where every pair tells a story and every click unveils a new adventure. Whether you're a
                    trendsetter hunting for the latest designs, an athlete seeking performance perfection, or someone
                    who cherishes timeless elegance, our extensive collection has something just for you.
                    Embark on a stylish adventure today and transform your footwear collection. Step in, and find your perfect pair !
                </p>
                <form method="get" action="/user/login">
                    <button>Explore now</button>
                </form>
            </div>
        </div>
        <div class="part2">
            <img src="/assets/pngwing.com.png">
            <div class="sports"><span>S</span><span>P</span><span>O</span><span>R</span><span>T</span><span>S</span></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/lander.js"></script>
</body>

</html>