/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: Spartan;
    src: url(/assets/Spartan-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Spartan ,sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    text-decoration: none;
    font-size: 17.5px;
    font-weight: 600;
    color: #666666;
    transition: 0.3s ease;
    position: relative;
}
.navbar li i:nth-child(1){
    font-size: 19.5px;
}
.navbar li button i:hover{
    background: none;
    border: none;
    color: #088178;
}
.navbar button{
    background: transparent;
    border: none;
    color: #666666;
    cursor: pointer;
    font-size: 17.5px;
    font-weight: 600;
    transition: 0.3s ease;
}
.navbar li:hover{
    color: #088178;
    cursor: pointer;
}
.navbar li:hover,
.navbar li.active {
    color: #088178;   
}
.navbar li.active::after,
.navbar li:hover::after {
    content: "";
    width: 35%;
    height: 3px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.page{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container{
  width: 60%;
  background: #fff;
  border-radius: 14px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 12px;
  color: black;
    font-weight: 400;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-top: 10px;
}
.right-side p{
    font-size: 15px;
    margin-top: 10px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.right-side .message-box{
    margin-top: 10px;
  min-height: 110px;
}
.right-side .input-box textarea{
    margin-top: 10px;
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

